In [2]:
import pandas as pd
import numpy as np

In [3]:
my_sr = pd.Series([50,45,65,45])
print(type(my_sr))
print(my_sr)

<class 'pandas.core.series.Series'>
0    50
1    45
2    65
3    45
dtype: int64

In [4]:
#dataFrame oluşturma

boy= np.random.randint(150,190,(10))
kilo = np.random.randint(150,190,(10))
ogr_no= np.random.randint(2100,2200,(10))

my_dick= {"ogrenci":ogr_no,"ogr_boy":boy,"ogr_kilo":kilo}
my_df=pd.DataFrame.from_dict(my_dick)
my_df

   ogrenci  ogr_boy  ogr_kilo
0     2115      165       164
1     2151      163       163
2     2156      155       179
3     2125      157       156
4     2122      176       174
5     2170      173       173
6     2177      177       164
7     2177      182       153
8     2157      150       168
9     2160      151       162

In [5]:
vize_not=np.random.randint(10,100,(10))
final_not=np.random.randint(10,100,(10))

my_df["ogr_vize"]=vize_not
my_df["ogr_final"]=final_not
my_df

   ogrenci  ogr_boy  ogr_kilo  ogr_vize  ogr_final
0     2115      165       164        38         57
1     2151      163       163        51         91
2     2156      155       179        15         22
3     2125      157       156        19         11
4     2122      176       174        44         60
5     2170      173       173        34         49
6     2177      177       164        24         61
7     2177      182       153        39         43
8     2157      150       168        95         76
9     2160      151       162        92         90

In [5]:
ogr_geçti=np.random.randint(10,100,(10))

ogr_geçti = (vize_not*40/100)+(final_not*60/100)
my_df["geçti_kaldı"]=ogr_geçti
my_df

   ogrenci  ogr_boy  ogr_kilo  ogr_vize  ogr_final  geçti_kaldı
0     2123      154       159        15         33         25.8
1     2184      150       188        67         79         74.2
2     2154      188       154        76         77         76.6
3     2188      183       184        40         31         34.6
4     2124      176       185        54         45         48.6
5     2190      160       178        74         27         45.8
6     2195      167       181        96         10         44.4
7     2198      156       180        92         67         77.0
8     2199      169       188        56         89         75.8
9     2124      184       183        32         88         65.6

In [6]:
my_df["Durum"] = my_df["geçti_kaldı"]>50
my_df

   ogrenci  ogr_boy  ogr_kilo  ogr_vize  ogr_final  geçti_kaldı  Durum
0     2123      154       159        15         33         25.8  False
1     2184      150       188        67         79         74.2   True
2     2154      188       154        76         77         76.6   True
3     2188      183       184        40         31         34.6  False
4     2124      176       185        54         45         48.6  False
5     2190      160       178        74         27         45.8  False
6     2195      167       181        96         10         44.4  False
7     2198      156       180        92         67         77.0   True
8     2199      169       188        56         89         75.8   True
9     2124      184       183        32         88         65.6   True

In [7]:
st_kilo=my_df["ogr_kilo"]>70
st_boy=my_df["ogr_boy"]>175

print(st_kilo)
print(st_boy)

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
Name: ogr_kilo, dtype: bool
0    False
1    False
2     True
3     True
4     True
5    False
6    False
7    False
8    False
9     True
Name: ogr_boy, dtype: bool

In [8]:
deneme_1=(my_df["ogr_boy"]>175) &(my_df["ogr_kilo"]>70)
deneme_1

0    False
1    False
2     True
3     True
4     True
5    False
6    False
7    False
8    False
9     True
dtype: bool

In [9]:
my_df.loc[deneme_1]

   ogrenci  ogr_boy  ogr_kilo  ogr_vize  ogr_final  geçti_kaldı  Durum
2     2154      188       154        76         77         76.6   True
3     2188      183       184        40         31         34.6  False
4     2124      176       185        54         45         48.6  False
9     2124      184       183        32         88         65.6   True

In [10]:
pd.DataFrame.to_excel(my_df,"pandas_1.xlsx")

In [7]:
my_df["Durum"]=my_df["geçti_kaldı"].values>50

KeyError: 'geçti_kaldı'